.container {
  padding: 20px;
  margin: 0 auto;
  min-width: 800px;
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.content {
  font-size: 1.2em;
  line-height: 1.6;
}
