.postCardContainer {
  cursor: pointer;
  /* new line */
  transition: transform 0.2s ease;
}

.postCardContainer:hover {
  transform: translateY(-2px);
}

.postCard {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Add this to position the delete button */
}

.postTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.postContent {
  font-size: 14px;
  color: #555;
}

.deleteButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2em;
  display: none;
}

.postCard:hover .deleteButton {
  display: block;
}

.wikiReference {
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
}

.wikiReference span {
  font-weight: bold;
}

.wikiReference a,
.wikiReference :global(a) {
  color: #007bff;
  text-decoration: underline;
}

.wikiReference a,
.wikiReference :global(a:hover) {
  color: #0056b3;
}

.titleLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
.titleLink:hover {
  color: #0056b3;
}
