.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.containerIntro {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow:  0 2px 4px #ccc;
}

.introText {
  padding: 10px;
  /* margin: 10px 0; */
  line-height: 1.6;
  color: #555;
}

.link {
  color: #007bff !important;
  text-decoration: underline;
}

.content {
  display: flex;
  width: 100%;
  min-width: 1200px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.mainContent {
  flex: 3;
  padding: 20px;
}

/* .recommenderTitle {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
} */

.methodList {
  list-style: none;
  padding: 0;
}

.methodCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;

  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
