.overlay {
  position: fixed;
  /* top: 8px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal {
  background: var(--color-surface);
  padding: 20px;
  border-radius: var(--radius-md);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  /* width: 60%; */
  width: 90%;
  max-width: var(--max-width);
  min-width: auto;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* Media query for small screeens */
@media (max-width: 480px) {
  .buttons {
    flex-direction: column-reverse; /* Stack buttons */
    gap: 8px;
  }
}

.modal {
  padding: 15px;
}

.buttons button {
  padding: 8px 16px;
  border-radius: var(--radius-sm);
  border: none;
  cursor: pointer;
}

.buttons button,
.buttons form {
  width: 100%;
}

.buttons button:first-child {
  background-color: var(--color-surface);
}

.buttons button:last-child {
  background-color: var(--color-accent);
}
